{% extends "base.html" %}

{% block title %}  <title>Login</title> {% endblock %}

{% block add_ref %}
    <link rel="stylesheet" href="../../static/auth/css/styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="../../static/catalog/css/styles.css" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block script %}
    <script>
        const item = document.getElementById('login');
        item.classList.add('active')
    </script>
{% endblock %}

{% block carousel %} {% endblock %}
{% block content %}



    <div class="login-page">
        <div class="form">

            <form method="POST" class="register-form">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>

                {% endfor %}
                <button type="submit">Sign up</button>
                <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
            </form>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom d-flex footer py-2 bg-success alert-info mt-5">
        <!-- Copyright -->
        <p class="ml-auto mr-auto"> © 2019 Copyright <a class="ml-3" href="#"> VIS Production</a></p>
        <a class="mr-5" href="#">Back to top</a>
    </footer>
{% endblock %}