{% extends "base.html" %}
{% block add_ref %}
    <link href="../../static/catalog/css/styles.css" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block script %}
    <script>
        const item = document.getElementById('store');
        item.classList.add('active')
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <nav class="container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Store</a></li>
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
            <h1 class="display-2 col-12 text-center mb-5">{{ product.name }}</h1>
            <div class="col-md-5 col-sm-12">
                <img src="{{ product.image_url }}" style="width: 100%;" alt="Responsive image">
            </div>
            <div class="col-md-7 col-sm-12">
                <p class="lead">{{ product.description }}</p>
                <hr>
                <h4><strong>Категория: {{ product.category }}</strong></h4>
            </div>
            <h2 class="ml-5 mr-auto">Цена за 100 грамм: <strong>{{ product.price }}</strong></h2>
            <form class="form-inline my-md-0" id="form-buy" action="{% url 'add_to_basket' %}"> {% csrf_token %}
                <div class="input-group ">
                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number bg-danger"
                                                    data-type="minus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-minus ">–</span>
                    </button>
                    </span>
                    <input type="text" name="quant[1]" id="quantity" readonly
                           class="form-control input-number text-center"
                           style="width: 95px;" value="100 гр." min="50" max="1000">
                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number bg-success"
                                                    data-type="plus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-plus">+</span>
                    </button>
                    </span>
                </div>
                <button class="btn-lg btn-warning ml-4 my-sm-0" id="button-buy"
                        data-product_id='{{ product.product_id }}'
                        data-price='{{ product.price }}' type="submit">Купить
                </button>
            </form>
            <script src="../../static/catalog/counter_button.js"></script>
            <script src="../../static/catalog/buy.js"></script>
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        </div>
    </div>
{% endblock %}

</body>